.header-logo {
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}
.carousel-item img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}
.article-number {
    font-weight: 700;
    font-size: 1.5rem;
    color: #000;
}
.article-title {
    font-family: "Times New Roman", serif;
    font-weight: 700;
    font-size: 1.75rem;
}
.article-subtitle {
    font-family: "Times New Roman", serif;
    font-weight: 300;
    color: #444;
    text-transform: uppercase;
}
.btn-readmore {
    background-color: black;
    color: white;
    border-radius: 0;
}
.btn-readmore:hover {
    background-color: #444;
}
.sidebar {
    font-size: 0.9rem;
}
.sidebar .section-title {
    font-weight: 400;
    background: var(--black-background-color);
    margin-bottom: 1rem;
}

.saldmasdsd h6{
    font-weight: 400;
    color: var(--grey-border-color);
}

.lolmdslkjflsdm{
    top: 2rem;
}

.lolmdslkjflsdm .article-number{
    width: 4rem;
    background: var(--black-background-color);
}

.lolmdslkjflsdm .article-number h4{
    font-weight: 400;
}

.lolmdslkjflsdm .article-title,
.lmlmlmlkjlmee{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.csdelkfnisdf .article-title{
    display: initial;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
    overflow: initial;
    text-overflow: initial;
}

.dgfbfdscswsxddas li a{
    font-weight: 500;
    color: var(--grey-border-color);
}

.doejwojrwer{
    width: 4rem;
    height: 4rem;
}

.doejwojrwer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.saldmasdsd p{
    font-size: 1.1rem;
    text-transform: uppercase;
}

.saldmasdsd a{
    font-weight: 500;
    color: var(--black-background-color);
}

.asdcdfgwedfseee li{
    border-bottom: 1px solid var(--light-background-color);
}

.lklklkdssdd-slider img{
    height: 25rem;
    object-fit: cover;
}

.dasdesrweedewr{
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
}

.efwcegqwedae a{
    font-size: 1.1rem;
    text-transform: capitalize;
}

.dasdesrweedewr .idenjwirwer{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.lklklkdssdd-slider:hover .dasdesrweedewr .idenjwirwer{
    visibility: visible;
    opacity: 1;
    position: relative;
    transition: 0.3s ease-in-out;
}

.lklklkdssdd-slider:hover .dasdesrweedewr .idenjwirwer a{
    text-decoration: underline;
}

.fgfrfdrdtreere{
    border-bottom: 2px solid var(--black-background-color);
}

.dasdesrweedewr h3{
    font-weight: 400;
}

.dsgbtgfewfrrr .swiper-button-prev,
.dsgbtgfewfrrr .swiper-button-next{
    color: var(--pink-main-color);
}

.dsgbtgfewfrrr .swiper-button-prev:after,
.dsgbtgfewfrrr .swiper-button-next:after{
    font-size: 2rem;
}

.dsgbtgfewfrrr .swiper-pagination-bullet-active{
    background: var(--pink-main-color) !important;
}

.dsgbtgfewfrrr .swiper-pagination-bullet{
    background: #fff;
    opacity: 0.9;
    bottom: -1rem;
}

.follow-card li{
    background: darkred;
    color: #fff;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.follow-card li i{
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
}

.follow-card li span{
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.follow-card li:nth-child(5n - 4) i{
    background: #1773EA;
}

.follow-card li:nth-child(5n - 4){
    background: #0e4c9d;
}


.follow-card li:nth-child(5n - 3) i{
    background: #1C9CEA;
}

.follow-card li:nth-child(5n - 3){
    background: rgb(18, 111, 169);
}


.follow-card li:nth-child(5n - 2) i{
    background: linear-gradient(45deg, #f58529, #feda77, #dd2a7b, #8134af, #515bd4);
}

.follow-card li:nth-child(5n - 2){
    background: linear-gradient(45deg, #f97e1a, #ebbf49, #e31f77, #7b21b0, #3744d0);
}


.follow-card li:nth-child(5n - 1) i{
    background: #1d9bde;
}

.follow-card li:nth-child(5n - 1){
    background: rgb(15, 122, 180);
}


.follow-card li:nth-child(5n) i{
    background: #F60100;
}

.follow-card li:nth-child(5n){
    background: #af0404;
}

.follow-card li:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.dmlmljkf li{
    list-style: none;
}

.dmlmljkf li i.list-dot{
    font-size: 4px;
    color: var(--black-background-color);
    margin-inline: 8px;
}

.fvgsdsedwewew .btn.btn-main{
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
}

.fvgsdsedwewew .btn.btn-outline-main {
    border: 1px solid var(--grey-border-color);
    transition: all 0.3s ease;
}

.fvgsdsedwewew .btn.btn-outline-main:hover {
    background-color: var(--grey-border-color);
    color: #fff;
}

article.fgfrfdrdtreere:nth-child(even) .dosjifrjwer{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

article.fgfrfdrdtreere:nth-child(even) .dosjifrjwer > *{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

article.fgfrfdrdtreere:nth-child(even) .dosjifrjwer a{
    flex: 0 0 auto;
    width: 50% !important;
}

article.fgfrfdrdtreere:nth-child(even) .dosjifrjwer .diewhirwer{
    flex: 0 0 auto;
    width: 50%;
    padding-top: 2.5rem;
}

article.fgfrfdrdtreere:nth-child(even) .lolmdslkjflsdm{
    justify-content: end;
}

@media only screen and (max-width: 991px){
    article.fgfrfdrdtreere:nth-child(even) .dosjifrjwer a,
    article.fgfrfdrdtreere:nth-child(even) .dosjifrjwer .diewhirwer{
        width: 100% !important;
    }
}

.doaejojewr{
    border-bottom: 2px solid var(--black-background-color);
}

.doiewirwer img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.doejiwrwer p:first-child{
    text-transform: uppercase;
}

.doejiwrwer p:last-child{
    font-size: 0.8rem;
}