.image{
  border-radius: 10px;
}

.doiewjkrniuwewer{
  height: 470px;  
  border-radius: 10px;
}

.doiewjkrniuwewer img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.dscnt-prce{
  right: 1%;
  position: absolute;
  top: -0.2%;
  background-image: url("/public/images/dscnt.png");
  background-repeat: no-repeat;
  color: #fff;
  background-size: 60px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  height: 80px;
  text-align: center;
  width: 60px !important;
  z-index: 999;
}

.dscnt-prce span.price{
  padding-top: 1.4rem;
  display: block;
}

.nw-arrvl{
  left: 3%;
  position: absolute;
  top: 3%;
  background-image: url("/public/images/ni.png");
  background-repeat: no-repeat;
  color: #fff;
  background-size: 80px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.5;
  height: 42px;
  text-align: center;
  width: 80px !important;
  z-index: 999;
}

/* .doiewjkrniuwewer img:first-child{
  z-index: 2;
} */

/* .doiewjkrniuwewer:hover img:first-child{
  visibility: hidden;
  opacity: 0;
  z-index: -9;
  transition: 0.3s ease-in-out;
} */

.dfgjhbdfg {
  width: 100%;
}

.djhdf i {
  padding: 10px;
  color: #000;
  background-color: #fff;
  border-radius: 50px;
}

.dbgdfhgv{
  z-index: -9;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 80%;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
  transform: translateX(-50%);
  display: none;
}

.dfgjhbdfg .images:hover .dbgdfhgv{
  z-index: 9;
  opacity: 1;
  visibility: visible;
  transition: 0.2s ease-in-out;
}

.dbgdfhgv button:hover{
  background: #fff !important;
}

.btn-cart{
  display: none;
}

.doiewjkrniuwewer img.first{
  display: none;
}

.doikwenirnwekhrwer{
  flex-direction: column;
  z-index: -9;
  align-items: end;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
  top: 17%;
}

.jkdneuirer .nw-arrvl{
  left: 0;
  position: absolute;
  top: 3%;
  background-image: url(/public/images/nwarrvl.png);
  background-repeat: no-repeat;
  color: #fff;
  background-size: 72px;
  display: block;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.9;
  height: 42px;
  text-align: center;
  width: 72px !important;
  z-index: 999;
}

.dfgjhbdfg .images:hover .doikwenirnwekhrwer{
  z-index: 9;
  visibility: visible;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.doikwenirnwekhrwer button{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  line-height: 2.8;
  text-align: center;
  background: var(--black-background-color);
  color: #fff;
  border: 1px solid var(--black-background-color);
}

.doikwenirnwekhrwer button:hover{
  background: var(--pink-main-color);
  border: 1px solid var(--pink-main-color);
  transition: 0.2s ease-in-out;
}

.doikwenirnwekhrwer button i{
  font-size: 1.2rem;
  transition: 0.2s ease-in-out;
}

.doikwenirnwekhrwer button:hover i{
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.xbjhdfvds55 {
  position: absolute;
  margin-top: -400px;
  right: 30px;
}

.djhdf {
  display: flex;
  align-items: baseline;
}
.djhdf p {
  color: #000;
  font-weight: 600;
  padding: 10px;
  background-color: #fff;
  border-radius: 25px;
  opacity: 0;
  width: 1px;
}

.djhdf :hover {
  opacity: 1;
  transition: 0.5s;
  width: auto;
}

.idnjewihrwerwer {
  top: 5%;
  right: 0;
  left: 0;
  justify-content: end;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-flex;
}
.idnjewihrwerwer .sdvefrvdertrt {
  visibility: hidden;
  opacity: 0;
  right: 15%;
  z-index: -999;
  transition: 0.3s ease-in-out;
}
.idnjewihrwerwer:hover .sdvefrvdertrt {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: 0.3s ease-in-out;
}

.dieuwhkrwehuirwer {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 1px solid #d3d3d3;
  cursor: pointer;
  right: 2%;
}

.dieuwhkrwehuirwer i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fdbdfgdfgdf {
  padding: 10px;
}
.fdbdfgdfgdf h6 {
  color: var(--text-main-color);
  font-size: 12px !important;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 25px;
  user-select: none;
  display: inline-block;
  background: rgba(232, 232, 232, 0.7);
}
.fdbdfgdfgdf h6 i{
  color: var(--pink-main-color);
}
.fdbdfgdfgdf h4 {
  font-size: 1rem !important;
  font-weight: 500;
}
.fdbdfgdfgdf h5 {
  font-weight: 600;
  color: var(--pink-main-color);
}

.yudfdfgdfbgdfgdffgfg {
  width: 100%;
  padding: 40px 0;
}

.fgnjhdf h6 {
  color: #bc3d19;
  font-size: 16px;
  font-weight: 500;
}

.dfghdfg654 h6 {
  margin-top: 35px;
  font-size: 14px;
  font-weight: 600;
}

.dfghdfg654 p {
  font-size: 13px;
  color: gray;
}

.sdfvgdfvrgrert label{
  border: 1px solid #fff;
  border-radius: 0.3rem;
  display: flex !important;
  align-items: center;
  margin: 5px !important;
  transition: 0.2s ease-in-out;
}

.clr-label{
  border: 1px solid var(--text-gray-color) !important;
  transition: 0.2s ease-in-out;
}

.fbgdfgd a {
  padding-right: 5px;
  padding-left: 5px;
  color: gray;
  border-right: 1px solid gray;
  height: 8px;
  padding-bottom: 5px;
  font-size: 13px !important;
}
.fbgdfgd a:hover {
  color: rgb(0, 0, 0);
}

.kdfbhjgdfg65468546 {
  margin-top: 30px;
}

.fbgfd h6 {
  font-size: 15px;
}/*# sourceMappingURL=FeaturedProducts.css.map */