.invoice-box {
    width: 850px;
    margin: auto;
    border: 1px solid #000;
    padding: 0;
}
.invoice-box table {
    width: 100%;
    border-collapse: collapse;
}
.invoice-box td, .invoice-box th {
    padding: 8px;
    border: 1px solid #000;
    vertical-align: top;
}
.invoice-box .header td {
    border: none;
}
.invoice-box .right {
    text-align: right;
}
.invoice-box .bold {
    font-weight: bold;
}