/* start  career2  page css */
/* start  career2  page css */
/* start  career2  page css */






.fbhjjdfjk554 .question {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 80px 10px 20px;
  /* border: 1px solid gray; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  margin-bottom: 5px;
  position: relative;
  display: flex;
  border: 1px solid black;
  /* border-radius: 6px; */
  align-items: center;
  cursor: pointer;
}


.fbhjjdfjk554 .question i {
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
  transition: 0.2s;
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.answercont.open {
  max-height: initial;
}

.fbhjjdfjk554 .question.active::after {
  transform: rotate(45deg);
}

.fbhjjdfjk554 .answer {
  padding: 0 20px 20px;
  line-height: 1.5rem;
}






@media screen and (max-width: 790px){
  html {
    font-size: 14px;
  }
  .fjgnfg55d .wrapper {
  width: 80%;
}
}




.fbhjjdfjk554
{
  padding: 40px 0;
}


.bgdf55ff
{
  padding: 15px 0;
}


.bgdf55ff ul li
{
  padding-bottom: 2px;
}


.sdfbjhfsdf
{
  width: 100%;
  padding: 40px 0;
}
.fnb788f
{
  width: 70%;
  margin: auto;
  text-align: center;
}


.fnb788f h2
{
   font-size: 40px;
   font-weight: 600;
   color: #000;
}


.fnb788f p
{
  font-size: 17px;
  color: #000;
  font-size: 500;
}


.xfxf888
{
 margin-bottom: 10px;
}


.xfxf888 label
{
  font-weight: 500;
  color: #000;
  margin-bottom: 5px;
}


.xfxf888 .form-control
{
  padding: 10px;
}


.xfxf888 .form-select
{
  padding: 10px;
  border: 1px solid var(--text-gray-color);
}

.xfxf888 textarea
{
  border: 1px solid var(--text-gray-color);
}

.dfbgjhdf5
{
  text-align: center;
}

/* end  career2  page css */
/* end  career2  page css */
/* end  career2  page css */
