header{
  position: relative;
  z-index: 999999;
}

header .advertisement-slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(133, 13, 85, 0.6);
}
header .advertisement-slider .marquee-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  width: 100%;
  padding: 0.2rem 0;
}
header .advertisement-slider .marquee-track {
  display: flex;
  width: -moz-max-content;
  width: max-content;
}
header .advertisement-slider .marquee-left {
  animation: marquee-left 20s linear infinite;
}
header .advertisement-slider .marquee-right {
  animation: marquee-right 20s linear infinite;
}
header .advertisement-slider .scroll-card {
  border-radius: 10px;
  margin-right: 9rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
header .advertisement-slider .scroll-card p a {
  color: #fff;
  font-size: 13px;
}
header .advertisement-slider .scroll-card p a:hover {
  text-decoration: underline !important;
}
@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
header .advertisement-slider .marquee-container:hover .marquee-left,
header .advertisement-slider .marquee-container:hover .marquee-right {
  animation-play-state: paused;
}
header .header-top {
  background: #fff;
  border-bottom: 1px solid var(--light-background-color);
}
header .header-top .doeiwhrkwdeor img{
  width: 70%;
}
header .header-top .doeiwhrkwdeor ul li {
  display: inline-flex;
  position: relative;  
}
header .header-top .doeiwhrkwdeor ul li:first-child:before {
  display: none;
}
header .header-top .doeiwhrkwdeor ul li a {
  padding: 1.2rem;
  font-family: var(--jost-font-family);
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
}
header .header-top .doeiwhrkwdeor ul li a.active {
  background: #000;
  color: #fff;
}
header .header-top .doeiwhrkwdeor ul li:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--grey-border-color);
  top: 50%;
  transform: translateY(-50%);
}
header .header-top .doewhruiwerwer_right {
  float: right;
}
header .header-top .doewhruiwerwer_right ul li {
  position: relative;
  padding: 1.1rem 0.3rem;
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  margin-inline: 0.15rem;
  user-select: none;
}
header .header-top .doewhruiwerwer_right ul li.infrm-menu-divider {
  color: var(--text-lighter-gray-color);
  cursor: default;
}
.mjeimojwjikrrr{
  width: 2.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header .header-top .doewhruiwerwer_right ul li p {
  font-size: 0.9rem;
  text-transform: uppercase;
}
header .header-top .doewhruiwerwer_right ul li i {
  font-size: 1.3rem;
  line-height: 0;
}
.gbdfgtrfyhrytgrr i.sdfrrweewr_icon{
  font-size: 1rem !important;
  color: var(--light-black-text-color);
}
header .header-top .doewhruiwerwer_right ul li span {
  background: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -0.1rem;
  top: 1rem;
  font-size: 0.8rem;
}
.header-main-wrapper{
  max-width: 85%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-main .doiewhirw_left img {
  width: auto;
}
header .header-main .doiewhirw_right {
  float: right;
}
header .header-main .doiewhirw_right ul.header-menu li {
  display: inline-flex;
}
header .header-main .doiewhirw_right ul.header-menu li:hover .diewhrkewr_dropdown {
  visibility: visible;
  z-index: 999999;
  transform: initial;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
header .header-main .doiewhirw_right ul.header-menu li a {
  color: #000;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  padding: 1.6rem 1.2rem !important;
  text-transform: uppercase;
  cursor: pointer;
}
.is-fixed-top{
  height: 110px;
}
.is-fixed-top .doiemwokjrmwewer{
  position: fixed;
  top: 0;
  z-index: 99999;
}
header .header-main .doiewhirw_right .diewhrkewr_dropdown {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 24%;
  opacity: 0;
  visibility: hidden;
  z-index: -999;
  transform: translateY(1rem);
  transition: 0.3s ease-in-out;
}
header .header-main .doiewhirw_right .diewhrkewr_dropdown.mega-dropdown-show {
  opacity: 1;
  visibility: visible;
  z-index: 999999 !important;
  transform: initial;
  transition: 0.3s ease-in-out;
}
header .header-main .doiewhirw_right .diewhrkewr_dropdown .doewjrlkjweuirhwer {
  border-top: 1px solid #dcdcdc;
}
header .header-main .doiewhirw_right .diewhrkewr_dropdown .dowiehrwer_left .fdpoewjrwer_inner p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.95rem;
}
header .header-main .doiewhirw_right .diewhrkewr_dropdown .dowiehrwer_left .fdpoewjrwer_inner li {
  display: block;
  margin-bottom: 0.5rem;
}
header .header-main .doiewhirw_right .diewhrkewr_dropdown .dowiehrwer_left .fdpoewjrwer_inner li a {
  padding: 1.4rem 0 !important;
  font-size: 0.95rem;
  font-weight: 400;
  text-transform: capitalize;
}
header .header-main .swiper-slide {
  width: auto !important;
  padding: 6px 19px;
  font-size: 15px;
  position: initial;
  border-radius: 10px;
}
header .header-main .swiper-slide a {
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.header-mega-menu{
  top: 61%;
  left: 0;
  right: 0;
  z-index: -999;
  visibility: hidden;
  transition: 0.1s ease-in-out;
}

header .header-main{
  border-bottom: 1px solid var(--light-background-color);
}

header .header-main .swiper-slide:hover .header-mega-menu{
  z-index: 999;
  visibility: visible;
  transition: 0.1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

header .header-main .swiper-slide:nth-of-type(10n - 5):hover .header-mega-menu,
header .header-main .swiper-slide:nth-of-type(10n - 2):hover .header-mega-menu,
header .header-main .swiper-slide:nth-of-type(10n - 1):hover .header-mega-menu{
  top: 67%;
  left: 0;
  right: 0;
  z-index: -999;
  visibility: hidden;
  transition: 0.1s ease-in-out;
}

.h-m-m-inner{
  border-top: 1px solid var(--light-background-color);
  border-bottom: 1px solid var(--light-background-color);
}

.h-m-m-inner .oieniuiewr_inner h5{
  font-size: 1rem;
  color: var(--grey-border-color);
}

.h-m-m-inner .oieniuiewr_inner ul li{
  list-style: none;
  margin-bottom: 0.8rem;
}

.h-m-m-inner .oieniuiewr_inner ul li a{
  font-weight: 400 !important;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: var(--text-main-color);
}

.pkopkerrwer h5{
  font-size: 1rem;
  color: var(--text-main-color);
}

.pkopkerrwer a{
  font-weight: 400 !important;
  color: var(--pink-main-color);  
  transition: 0.2s ease-in-out;
}

.search-field .form-control {
  width: 100%;
  background: var(--light-background-color) !important;
  padding-right: 3rem;
  border-radius: 0.375rem;
  overflow: hidden;
  border: 0;
}
.search-field .form-control::-moz-placeholder {
  font-size: 0.85rem;
}
.search-field .form-control::placeholder {
  font-size: 0.85rem;
}
.search-field i {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.8rem;
  line-height: 1;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.search-field i:after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 35%;
  background: var(--grey-border-color);
}

/*new*/
.header-top .doiwehrwehirnwerwer select.form-select {
  border: 0 !important;
  cursor: pointer;
  padding-left: 0.2rem;
  padding-right: 1.7rem;
}
.header-top .doiwehrwehirnwerwer select.form-select:focus {
  outline: none;
}
.header-top .doiwehrwehirnwerwer select.form-select .btn.show {
  border-color: #fff !important;
}
.dsgdfgsdf{
  display: none;
}


/*currncy cnvrtr start*/

.custom-currency-dropdown {
  position: relative;
}

.currency-toggle-btn {
  background: #fff;
  border: 1px solid #ddd;
  padding: 6px 6px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease;
}

.currency-toggle-btn:hover {
  background: #f8f8f8;
}

.currency-menu {
  min-width: 230px;
  z-index: 999;
  list-style: none;
  max-height: 250px;
  overflow-y: auto;
}

.currency-item {
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s;
}

.currency-item:hover {
  background: #f0f0f0;
}

/*currncy cnvrtr end*/