.deowjrkjweirew img{
    width: 19vw;
}

.dasfsreer{
    right: 10%;
    top: 50%;
    transform: translateY(-50%);    
}

.dasfsreer i{
    font-size: 1.4rem;
    transform: scaleX(-1);
    margin-top: -3rem;
    margin-right: 6rem;
    color: var(--grey-border-color);
    cursor: pointer;
}

.dwejnrkhweijrwer ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dwejnrkhweijrwer ul li{
    list-style: none;
    font-weight: 500;
}

.dwejnrkhweijrwer ul li a{
    transition: 0.2s ease-in-out;
}

.dwejnrkhweijrwer ul li a:hover{
    color: var(--pink-main-color);
    transition: 0.2s ease-in-out;
}